.cleafix::after{
    content: '';
    display: block;
    clear: both;
}

.wrapper{
    width: 400px;
    height: 450px;
    margin: 0 auto;
}

.header{
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.main{
    width: 400px;
    height: 250px;
}

.left{
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
    float: left;
}

.right{
    width: 250px;
    height: 250px;
    float: right;
}

.right-1{   
    width: 100px;
    height: 150px;
    background-color: #ff9e6b;
    float: right;
}
.right-2{
    width: 150px;
    height: 50px;
    background-color: #dbd400;
    float: left;
}
.right-3{
    width: 150px;
    height: 100px;
    background-color: #0093b7;
    float: left;
}

.right-4{
    width: 250px;
    height: 100px;
    background-color: #8c2727;
    float: right;
}

.footer{
    width: 400px;
    height: 100px;
    background-color: #d98d30;
    float: left;
}
